<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="marketplaceUser" value="DevOSHT"/>
		<add key="marketplacePass" value="Snodgr4ss!"/>
		<add key="marketplaceIP" value="159.89.117.198"/>
		<add key="marketplacePort" value= "3306"/>
		<add key="marketplaceDb" value="cmp"/>
		<add key="localUser" value="root"/>
		<add key="localPass" value="!Mustang123GT"/>
		<add key="localIP" value="localhost"/>
		<add key="localPort" value="3306"/>
		<add key="localDb" value="tms"/>
		<add key="logPath" value ="NULL"/>
	</appSettings>
</configuration>